/* Main Stylesheet */

body {
    width: 600px;
    margin: 0 auto;
    font-family: Helvetica;
}

.gameBoard {
    width: 100%;
    border-spacing: 20px;

    td {
        width: 30%;
        height: 180px;
        text-align: center;
        background-color: #ccc;
        cursor: pointer;

        &.playerOne {
            background-color: #67a7ff;
        }

        &.playerTwo {
            background-color: #ff5735;
        }
    }
}

.winner {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}

.newgame {
    text-align: center;

    a {
        padding: 10px 15px;
        background: #4479BA;
        color: #FFF;
    }
}